# Ignore files for distribution archives.

/.editorconfig   export-ignore
/.gitattributes  export-ignore
/.github         export-ignore
/.gitignore      export-ignore
/logo.svg        export-ignore
/screenshot.png  export-ignore
/tests           export-ignore
/.npmignore      export-ignore
/renovate.json   export-ignore
