# To ignore OS temporary files use global .gitignore
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer

/.artifacts
/.idea
.DS_Store

# JavaScript toolchain and test/deploy output.
/node_modules
/test-results
/playwright-report
/_site
